* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Not sure if this does anything*/
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {

}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.nav {
    float: right;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.nav  li {
    float: left;
  }
  
.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.nav li a:hover {
    background-color: #111;
  }


section h2 {
    text-align: center;
}

section ul{
    text-align: center;
}

.my-image img{
    border-radius: 50px;
    width: 340px;
    max-width: 100%; /*Responsive image scaling*/
    height: auto; /*Responsive image scaling*/
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

